@font-face {
    font-family: 'Rockclimb-Regular';
    src: url('fonts/rockclimb-webfont.eot');
    src: url('fonts/rockclimb-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/rockclimb-webfont.woff') format('woff'),
    url('fonts/rockclimb-webfont.ttf') format('truetype'),
    url('fonts/rockclimb-webfont.svg#rockclimbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Rockclimb-BoldItalic';
    src: url('fonts/rockclimb-bolditalic-webfont.eot');
    src: url('fonts/rockclimb-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/rockclimb-bolditalic-webfont.woff') format('woff'),
    url('fonts/rockclimb-bolditalic-webfont.ttf') format('truetype'),
    url('fonts/rockclimb-bolditalic-webfont.svg#rockclimbbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Rockclimb-Italic';
    src: url('fonts/rockclimb-italic-webfont.eot');
    src: url('fonts/rockclimb-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/rockclimb-italic-webfont.woff') format('woff'),
    url('fonts/rockclimb-italic-webfont.ttf') format('truetype'),
    url('fonts/rockclimb-italic-webfont.svg#rockclimbitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Rockclimb-Bold';
    src: url('fonts/rockclimb-bold-webfont.eot');
    src: url('fonts/rockclimb-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/rockclimb-bold-webfont.woff') format('woff'),
    url('fonts/rockclimb-bold-webfont.ttf') format('truetype'),
    url('fonts/rockclimb-bold-webfont.svg#rockclimbbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    background-image: url(../img/bg4.jpg);
    background-repeat: no-repeat;
    font-family: Rockclimb-Regular, Helvetica, Arial;
    background-color: #bcbecd;
}
.content
{
background-color:white;
    float: left;
    width:100%;
}
.menu ul{
    list-style: none;
    float: left;
}
.menu ul li{
    float: left;
    padding-right: 30px;
    width: 210px;
}
ul.menu li a:hover,ul.menu li a:active{
   background-color: #03A9F4;
}
.row
{
    padding-bottom:1em;
}
h1
{
    font-size: 22px;
    color: #2a3953;
    font-family: Rockclimb-Regular, Helvetica, Arial;
    font-weight: 100;
    line-height: 20px;
    padding-top: 5px;
    letter-spacing: -1px;
}
p{
    color: #697486;
    letter-spacing: 0px;
    font-weight: 100;
    font-size: 14px;
    font-family: Rockclimb-Regular, Helvetica, Arial;
}
.summary img
{
    width: 100%;
}
.footer
{
    border-top: 10px solid #023650;
}
.trip-info
{
    background-image: url(../img/bg-id49.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.trip-info h1
{
    margin-top: 80px;
    margin-bottom: 40px;
}
.trip-info p
{
    color:#2a3953;
}

.gallery img
{

    box-shadow: 0px 5px 5px #888888;
}
.gallery .content
{
    padding-bottom: 20px;
}